<a href="https://colab.research.google.com/github/ebrabena/OOP-58001/blob/main/OOP_Concepts_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Classes with Multiple Objects

In [ ]:
class Birds:
  def __init__(self, bird_name):
    self.bird_name = bird_name
  def flying_birds(self):
    print(f"{self.bird_name} flies above clouds")
  def non_flying_birds(self):
    print(f"{self.bird_name} is the national bird of the Philippines")

vulture = Birds("Griffon Vulture")
crane = Birds("Common Crane")
emu = Birds("Emu")

vulture.flying_birds()
crane.flying_birds()
emu.non_flying_birds()

Griffon Vulture flies above clouds
Common Crane flies above clouds
Emu is the national bird of the Philippines

Encapsulation with Private Attributes

In [ ]:
class foo:
  def __init__(self, a, b):
    self.a = a
    self.b = b 
  def add(self):
    return self.a + self.b
foo_object = foo(3, 4)
foo_object.add()

foo_object.a = 6
foo_object.add()

10

In [ ]:
class foo:
  def __init__(self, a, b):
    self._a = a
    self._b = b 
  def add(self):
    return self._a + self._b
foo_object = foo(3, 4)
foo_object.add()

foo_object._a = 6
foo_object.add()

10

Encapsulation by Managing with Double Underscores

In [ ]:
class Counter:
  def __init__(self):
    self.current = 0 

  def increment(self):
    self.current += 2
  
  def value(self):
    return self.current
  
  def reset(self):
    self.current = 0 
  
counter = Counter()

counter.increment()
counter.increment()
counter.increment()
counter.increment()
counter.increment()

print(counter.value())

10

In [ ]:
class Counter:
  def __init__(self):
    self.current = 0

  def increment(self):
    self.current += 2

  def value(self):
    return self.current

  def reset(self):
    self.current = 0
  
counter = Counter()

counter.increment()
counter.increment()
counter.increment()

print(counter.value())

6

In [ ]:
class Counter:
  def __init__(self):
    self.current = 0

  def increment(self):
    self.current += 2

  def value(self):
    return self.current

  def reset(self):
    self.current = 0
  
counter = Counter()

counter.increment()
counter.increment()
counter.increment()

print(counter.reset())

None

Inheritance

In [ ]:
class Person:
  def __init__(self,name,surname):
    self.name = name
    self.surname = surname
  def printname(self):
    print(self.name, self.surname)

x = Person("Edrian", "Rabena")
x.printname()

class Student(Person):
  pass

x = Student("Ed", "Rabena")
x.printname()

class Nickname(Student):
  pass

x = Nickname("Ian", "Rabena")
x.printname()

Edrian Rabena
Ed Rabena
Ian Rabena

Polymorphism

In [ ]:
class RegularPolygon:
  def __init__(self, side = 1):
    self._side = side
class Square(RegularPolygon):
  def area(self):
    return self._side * self._side
class EquilateralTriangle(RegularPolygon):
  def area(self):
    return self._side * self._side * 0.433 

obj1 = Square(23)
obj2 = EquilateralTriangle(5)

print(obj1.area())
print(obj2.area())

529
10.825

Application

In [ ]:
#The grades of Student 1 on prelims are 98, 87, 89, 100, and 76.
#The grades of Student 1 on midterms are 76, 89, 91, 88, and 97.
#The grades of Student 1 on finals are 60, 54, 100, 100, 98.

#The grades of Student 2 on prelims are 89, 76, 50, 89, and 94.
#The grades of Student 2 on midterms are 88, 76, 89, 84, and 96.
#The grades of Student 2 on finals are 97, 95, 89, 90, and 99.

#The grades of Student 3 on prelims are 100, 98, 99, 100, and 100.x
#The grades of Student 3 on midterms are 89, 99, 98, 91, and 90.
#The grades of Student 3 on finals are 90, 89, 83, 96, and 99.

class Person():
  def __init__(self, std, pre, mid, fin):
    self.std = std
    self.pre = pre
    self.mid = mid
    self.fin = fin

  def Grade(self):
    print("The total averages of prelims, midterms, and finals of", self.std, "respectively are", self.pre, self.mid, self.fin)

std1 = Person("Student 1", (98+87+89+100+76)/5, (76+89+91+88+97)/5, (60+54+100+100+98)/5)
std2 = Person("Student 2", (89+76+50+89+94)/5, (88+76+89+84+96)/5, (97+95+89+90+99)/5)
std3 = Person("Student 3", (100+98+99+100+100)/5, (89+99+98+91+90)/5, (90+89+83+96+99)/5)

std1.Grade()
std2.Grade()
std3.Grade()

The total averages of prelims, midterms, and finals of Student 1 respectively are 90.0 88.2 82.4
The total averages of prelims, midterms, and finals of Student 2 respectively are 79.6 86.6 94.0
The total averages of prelims, midterms, and finals of Student 3 respectively are 99.4 93.4 91.4